
.page-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.property-card{
    width: 85%;
    margin-top: 2%;
   padding-top: 1%;
    
}

.image-container {
    width: 20%;
    height: 40%;
    justify-content: center;
    align-items: center;
    margin-top: 0.5px;
    margin-bottom: 2%;
    margin-right: 3%;
    margin-left: 5px;
}
.content-container{
    margin-bottom: 1%;
 
}

.property-gender{

    width: 5rem;
    height: 5rem;
  
}
.interested-container{
    margin-right: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.filter-bar{
    display: flex;
}
